@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #006db3;
  --primary-color-light: #2da2ed;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

input {
  -webkit-appearance: none;
}

/* Navigation */
.navbar {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
  z-index: 100 !important;
}

.navbar h1 {
  font-family: Anton, "Segoe UI";
  color: #002984;
  border-bottom: 4px solid #d00000;
  border-top: 4px solid #d00000;
  padding: 0 5px;
}

.navbar.top {
  color: #fff;
  background: transparent;
}

.navbar ul {
  display: flex;
}

.navbar nav a {
  color: inherit;
  padding: 10px 20px;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.navbar nav a.active {
  border-color: var(--primary-color, #0283d0);
}

.navbar nav a:hover {
  border-color: var(--primary-color, #0283d0);
}

/* Startseite*/
#start {
  background: url(../images/paint02.jpg) no-repeat center center / cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

#start.small {
  height: 20vh;
}

#start::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#start * {
  z-index: 10;
}

#start .content {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start .content h2 {
  font-size: 55px;
}

#start .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

/* Leistungen */
#services {
  padding: 30px;
}

.service {
  flex: 1;
  padding: 20px;
}

.service h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.service i {
  color: #fff;
  background-color: var(--primary-color, #0283d0);
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* icon hda to be adjusted so that it looks round */
.service:last-child i {
  width: 72px;
}

/* Galerie */
#galerie .images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 0 10px;
}

#galerie .images img:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* Kontakt */
#contact address p {
  font-size: 18px;
  display: flex;
  align-items: center;
  font-style: normal;
}

#contact address i {
  font-size: 24px;
  margin-right: 24px;
}

#contact address i.fa-map-marker-alt {
  margin-right: 30px;
}

#contact address a {
  color: var(--primary-color, #0283d0);
  text-decoration: underline;
}

#contact .description {
  max-width: 75%;
}

.about img {
  flex: 1;
}

.about .flex-column {
  flex: 1;
}

/* Impressum & Datenschutz */
main.centered {
  margin: 30px auto;
  width: 1200px;
  max-width: 80%;
}

main.centered h3 {
  color: #002984;
  margin: 20px 0 10px 0;
  font-size: 24px;
}

main.centered h4 {
  color: #002984;
  margin: 20px 0 10px 0;
  font-size: 20px;
}

main.centered address {
  margin-top: 10px;
  line-height: 1;
  font-style: normal;
}

main.centered a {
  color: var(--primary-color, #0283d0);
  text-decoration: underline;
}

main.centered ul {
  margin-left: 30px;
  list-style-type: disc;
}

main.centered .bold {
  font-weight: bold;
}

/* Footer */
#footer {
  text-align: center;
  padding: 20px;
}

#footer .social-icon {
  color: #fff;
  margin: 0 20px;
}

#footer a {
  color: #fff;
  cursor: pointer;
}

#footer a:hover {
  color: var(--primary-color-light);
}


/* Tablet */
@media screen and (max-width: 768px) {
  main.centered {
    margin: 30px auto;
    width: 80%;
  }

  #start.small {
    height: 40vh;
  }

  #navbar {
    flex-direction: column;
    padding: 20px;
    height: 120px;
  }

  #navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  #start .content h2 {
    font-size: 40px;
  }

  #start .content p {
    font-size: 18px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-column .column {
    flex: 100%;
    max-width: 100%;
  }

  .flex-columns .row {
    flex-direction: column;
  }

  #galerie .images {
    grid-template-columns: 1fr 1fr;
  }

  #galerie .images img {
    max-width: 100%;
  }

  .solutions .column-2 {
    margin-top: -7px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  #start .content h2 {
    font-size: 32px;
  }

  #start .content p {
    font-size: 18px;
  }

  #galerie .images {
    grid-template-columns: 1fr;
  }

  .solutions .column-2 h2 {
    font-size: 32px;
  }

  #contact h2 {
    font-size: 28px;
  }

  #footer a {
    margin: 0 10px;
  }
}
